* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  color: #323232;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: -5rem;
  opacity: 0;
  transition: all 1s ease;
  &.loaded {
    margin-top: 0;
    opacity: 1;
  }
}
.space-around {
  margin: 3rem 0;
}

.text-center {
  text-align: center;
}

.max-width {
  max-width: 60rem;
  margin: auto;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}