@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');

body {
  font-family: 'Lato';
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-family: 'Oswald';
  letter-spacing: .1em;
  font-size: 1.6rem;
}