$screen-sm-max: 768px;
$screen-md-min: 769px;
$screen-lg-min: 1280px;

$c-dark-gray: #323232;
$c-light-gray: #e4e6e8;
$c-blue: #25426c;
$c-blue-2:#177E89;
$c-orange:#f4a442;

$boxShadow: 0 5px 10px rgba(0,0,0,0.175);
