.editor
  .top-bar
    span.dot
    span.dot
    span.dot
    span.name web-developer.js

  .screen
    .screen-content
      - var y = 0;
      while y < 30
        - y++
        .line

      - var x = 0;
      while x < 180
        - x++
        .code
  .source
    a(href='https://codepen.io/kedskeds/pen/wNKEKb' target='_blank') view source