.header
  .logo
    span K

  nav
    ul
      li
        a(href="#about")
          span About
      li
        a(href="#skills")
          span Skills
      li
        a(href="#portfolio")
          span Portfolio
      li
        a(href="#contact")
          span Contact