.projects--grid

  .project
    .description
      .project--name
        a(href='https://www.itsyourmusebg.com/muse-bowling-green-bowling-green-ky/', target='_blank', title='Muse') Muse / Custom Theme
      .project--lang Rails, HAML, SCSS, JQuery, Foundation, Lazyloading, Google Maps API, AOS
      .project--features This theme was built to be entirely CMS-editable, down to the color palette. 

    a.project--img(href='https://www.itsyourmusebg.com/muse-bowling-green-bowling-green-ky/', target='_blank', title='Muse')
      .bg-img(style='background-image:url(../images/muse.png)')
        .overlay

  .project
    .description
      .project--name
        a(href='https://globalonlineacademy.org/what-we-do/student-program/student-courses', target='_blank', title='Global Online Academy') GOA / Search Tool
      .project--lang Vue.JS
      .project--features Using data from a course catalog API, I built a reactive search tool that enables students to quickly sort and filter a list of classes offered.

    a.project--img(href='https://globalonlineacademy.org/what-we-do/student-program/student-courses', target='_blank', title='Global Online Academy')
      .bg-img(style='background-image:url(../images/goa.png)')
        .overlay

  .project
    .description
      .project--name
        a(href='https://www.vestaliaglendale.com/vestalia-glendale-ca/', target='_blank', title='Lincoln - Vestalia') Vestalia / Custom Site
      .project--lang Rails, HAML, SCSS, JQuery, Foundation
      .project--features ScrollMagic, SVG animations
    a.project--img(href='https://www.vestaliaglendale.com/vestalia-glendale-ca/', target='_blank', title='Lincoln - Vestalia')
      .bg-img(style='background-image:url(../images/vestalia.png)')
        .overlay

  .project
    .description
      .project--name
        a(href='https://staging-sutter-green-sacramento-ca.leaselabs-staging.com', target='_blank', title='Sutter Green') Sutter Green / Custom Site
      .project--lang Rails, HAML, SCSS, JQuery, Foundation
      .project--features ScrollMagic, AOS
    a.project--img(href='https://staging-sutter-green-sacramento-ca.leaselabs-staging.com', target='_blank', title='Sutter Green')
      .bg-img(style='background-image:url(../images/sutter-green.png)')
        .overlay

  .project
    .description
      .project--name
        a(href='https://www.lincolnapts.com/lpc-live-inspired/live-your-bliss', target='_blank', title='Lincoln Property Company') LPC / Infographic
      .project--lang HAML, SCSS, JQuery, ScrollMagic, Greensock, SVG animations
      .project--features Every quarter, Lincoln Property Company puts out an animated, scrolling infographic. I developed the Q3 and Q4 infographics for 2018.
    a.project--img(href='https://www.lincolnapts.com/lpc-live-inspired/live-your-bliss', target='_blank', title='Lincoln Property Company')
      .bg-img(style='background-image:url(../images/lincoln.png)')
        .overlay

  .project
    .description
      .project--name
        a(href='https://www.cwsapartments.com/regents-west-at-24th-austin-tx/', target='_blank', title='Regents West') CWS Students / Custom Theme
      .project--lang Rails, HAML, SCSS, JQuery, Foundation
      .project--features CMS-editable theme
    a.project--img(href='https://www.cwsapartments.com/regents-west-at-24th-austin-tx/', target='_blank', title='Regents West')
      .bg-img(style='background-image:url(../images/students.png)')
        .overlay

  //- .project
  //-   .description
  //-     .project--name CACHI / Search Tool
  //-     .project--lang Vue.JS
  //-     .project--features Using data from an API, I built a reactive search tool that enables users to quickly sort and filter research documents.

  //-   a.project--img(href='http://cachi.org/resources', title='CACHI')
  //-     .bg-img(style='background-image:url(../images/cachi.png)')