extends layout

block content
  nav
    ul
      li 
        a(href='#about') 
          i(class="material-icons") home
      li 
        a(href='#skills') 
          i(class="material-icons") code
      li 
        a(href='#projects') 
          i(class="material-icons") computer
      li 
        a(href='#contact') 
          i(class="material-icons") email

  #about.shadow

    .blurb
      h1 Hi! I'm Kelsey. I'm a web developer.
      h2 Building useful, accessible, and well-thought-out applications is my passion.
      button.mobile.expand Read More
      .desktop.hidden
        p My background is in accounting, where I consulted with clients for 3+ years in New York, Boston, and D.C. to develop long-term wealth management strategies. Providing services that make people's lives a bit easier is something that I take pride in and carry into all aspects of what I do.
        p As a developer, I'm excited about using technology and data to better the planet. By that, I mean:
        ul
          li Improving educational opportunities for underserved communities
          li Enhancing environmental conservation
          li Protecting the rights and safety of all individuals 
        p Above all else, I believe that the tech community should be open and inclusive, and I'm eager to contribute to projects big or small with folks who feel the same way. If that sounds good to you, <a href='#contact'>let's build something awesome together.</a>

  .mobile.divider 
    i(class="material-icons") code
  #skills
    .row
      .container
        .card
          .heading Programming Languages
          table
            tr
              td JavaScript
            tr
              td Ruby
            tr
              td SQL
      .container
        .card
          .heading Web Development
          table
            tr
              td HTML5
            tr
              td CSS3
            tr
              td Sass/Stylus
            tr
              td Slim/Pug
            tr
              td JQuery
            tr
              td Bootstrap 
      .container
        .card
          .heading Technologies & Frameworks
          table
            tr
              td Ruby on Rails
            tr
              td Sinatra
            tr
              td AJAX
            tr
              td JSON
      .container
        .card
          .heading Databases & Tools
          table
            tr
              td Git/GitHub
            tr
              td PostgreSQL
            tr
              td ActiveRecord
            tr
              td RSpec
            tr
              td Jasmine
            tr
              td Heroku
            tr
              td Travis CI

  .mobile.divider 
    i(class="material-icons") computer
  #projects
    .outer-container
      .img-container
        .mobile.project-heading
          |seespotgo
        a(href='https://github.com/kedskeds/SeeSpotGo')
          img(src='../images/seespotgo.png')
        .desc.hidden
          |seespotgo
    .outer-container
      .img-container
        .mobile.project-heading
          |boarddom
        a(href='https://github.com/kedskeds/BoardDom')
          img(src='../images/boarddom.png')
        .desc.hidden
          |boarddom
    .outer-container
      .img-container
        .mobile.project-heading
          |pomodoro timer
        a(href='http://codepen.io/kedskeds/full/xEmJPQ/')
          img(src='../images/pomodoro.png')
        .desc.hidden
          |pomodoro timer
    .outer-container
      .img-container
        .mobile.project-heading
          |calculator
        a(href='https://codepen.io/kedskeds/full/qaQVJB/')
          img(src='../images/calculator.png')
        .desc.hidden
          |calculator
    .outer-container
      .img-container
        .mobile.project-heading
          |wikipedia search
        a(href='http://codepen.io/kedskeds/full/EyoYWY/')
          img(src='../images/wiki.png')
        .desc.hidden
          |wikipedia search
    .outer-container
      .img-container
        .mobile.project-heading
          |quote generator
        a(href='https://codepen.io/kedskeds/full/rLjdZa/')
          img(src='../images/quote.png')
        .desc.hidden
          |quote generator

  .mobile.divider 
    i(class="material-icons") email
  #contact
    #contact-container.shadow
      h2 kelseyedelstein@gmail.com
      a(href='https://www.linkedin.com/in/kedels')
        i.fa.fa-linkedin-square(aria-hidden='true')
      a(href='https://www.github.com/kedskeds')
        i.fa.fa-github(aria-hidden='true')
      a(href='https://www.codepen.io/kedskeds')
        i.fa.fa-codepen(aria-hidden='true')
      a(href='https://www.instagram.com/kedskeds/')
        i.fa.fa-instagram(aria-hidden='true')