extends layout

block content
  nav
    ul
      li
        a(href='#work') Work
      li
        a(href='#skills') Skills
      li
        a(href='#contact') Contact

  .wrapper

    #about.bg-primary
      .content
        .max-width
          h2.text-center Headline
          h1.space-around Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis pulvinar ipsum, quis euismod leo pellentesque ac. Integer at ante quis tortor ultrices lobortis.
          .text-center
            a.btn(href='#work') Explore

    #work
      .row
        .col.bg-img
        .col.bg-img
        .col.bg-img
        .col.bg-img
        .col.bg-img
        .col.bg-img

    #skills.bg-secondary
      h2.text-center Skills
      .row.max-width
        .col
          h2 heading
          ul
            li item 1
            li item 2
            li item 3
        .col
          h2 heading
          ul
            li item 1
            li item 2
            li item 3
        .col
          h2 heading
          ul
            li item 1
            li item 2
            li item 3

    #contact
      .text-center
        h2 Get in touch
        h3 Lorem ipsum

