extends layout

block content

  .content-wrap

    section.section-container#home
      .content
        h1 Kelsey Edelstein
        h2 Front End Web Developer

    section.section-container#about
      h1 About
      p I'm a web developer based in Los Angeles, CA.

    section.section-container#skills
      h1 Skills
      ul
        li JavaScript
        li HTML/CSS
        li Rails
        li Ruby

    section.section-container#portfolio
      h1 Portfolio
      .gallery-img-container
        .gallery-img.bg-img
        .gallery-img.bg-img
        .gallery-img.bg-img
        .gallery-img.bg-img
        .gallery-img.bg-img
        .gallery-img.bg-img

    section.section-container#contact
      h1 Contact
      h2 kelseyedelstein@gmail.com
      a(href='https://www.linkedin.com/in/kedels')
        i.fab.fa-linkedin-square(aria-hidden='true')
      a(href='https://www.github.com/kedskeds')
        i.fab.fa-github(aria-hidden='true')
      a(href='https://www.codepen.io/kedskeds')
        i.fab.fa-codepen(aria-hidden='true')
      a(href='https://www.instagram.com/kedskeds/')
        i.fab.fa-instagram(aria-hidden='true')