extends layout

block content

  .main-content

    section#home.home--container
      .home--background

      .home--content.rellax.show-for-large
        .intro--text
          h1 Hi! I'm Kelsey.
          h1 I'm a developer based in Los Angeles, CA.

        include includes/editor.pug

        //- .scroll-btn-container
        //-   a.scroll-btn(href= "#about")
        //-     span Scroll
        //-     .arrow V

      .home--content.hide-for-large
        .intro--text
          h1 Hi! I'm Kelsey.
          h1 I'm a developer based in Los Angeles, CA.

        include includes/editor.pug

    section#about.about--container
      .content
        h2 You could say I'm obsessed with web development.

        .paragraphs
          p I'm excited by great CSS animations, newfangled JavaScript libraries, and tools that make me a better and more efficient developer. I like solving little puzzles, and I get so much satisfaction out of finding elegant solutions. I'm always trying to test the limits of what the web can do.
          p When I'm not pushing pixels around a screen, I enjoy hiking, biking, tending to my plants, and playing with French Bulldogs, among other things.

    section#skills.skills--container
      .content
        h2 Skills
        ul
          li HTML/HAML/Pug
          li CSS/SCSS/Sass
          li JavaScript/JQuery
          li Ruby
          li SQL

          li Vue.JS
          li Handlebars
          li Scrollmagic

          li Ruby on Rails
          li Bootstrap/Foundation
          li Gulp
          li Express
          li Craft CMS
          li Git

    section#work.work--container

      .content
        h2 Projects

      include includes/projects-grid.pug


  section#contact.contact--container
    .contact--background

      .content
        h2 kelseyedelstein@gmail.com

        .icons
          a(href='https://www.linkedin.com/in/kedels')
            i.fab.fa-linkedin
          a(href='https://www.github.com/kedskeds')
            i.fab.fa-github
          a(href='https://www.codepen.io/kedskeds')
            i.fab.fa-codepen
          a(href='https://www.instagram.com/kedskeds/')
            i.fab.fa-instagram