extends layout

block content

  .main-content

    section#home.home--container
      .home--background

      .home--content.rellax.show-for-large
        .intro--text
          h1 Hi! I'm Kelsey.
          h1 I'm a developer based in Los Angeles, CA.

        include includes/editor.pug

        //- .scroll-btn-container
        //-   a.scroll-btn(href= "#about")
        //-     span Scroll
        //-     .arrow V

      .home--content.hide-for-large
        .intro--text
          h1 Hi! I'm Kelsey.
          h1 I'm a developer based in Los Angeles, CA.

        include includes/editor.pug

    section#about.about--container
      .content
        h2 You could say I'm obsessed with web development.

        .intro

          .paragraphs
            p I'm excited by great CSS animations, experimental web technologies, and tools that make me a better and more efficient developer. I like solving puzzles, and I get so much satisfaction out of finding elegant solutions. I'm always trying to test the limits of what the web can do.
            p When I'm not pushing pixels around a screen, I enjoy hiking, biking, photography, and travel, among other things.

          .me
            .bg-img(style='background-image:url(../images/me.png)')

    section#skills.skills--container
      .content
        h2 Skills
        ul
          p Languages
          li HTML
          li CSS
          li JavaScript
          li Ruby
          li SQL
        ul
          p Web Frameworks
          li React.js
          li Express
          li Vue.js
          li Ruby on Rails
        ul
          p Tools
          li Gulp
          li Craft CMS
          li Bootstrap/Foundation


    section#work.work--container

      .content
        h2 Projects

      include includes/projects-grid.pug


  section#contact.contact--container
    .contact--background

      .content
        h2 kelseyedelstein@gmail.com

        .icons
          a(href='https://www.linkedin.com/in/kedels')
            i.fab.fa-linkedin
          a(href='https://www.github.com/kedskeds')
            i.fab.fa-github
          a(href='https://www.codepen.io/kedskeds')
            i.fab.fa-codepen
          a(href='https://www.instagram.com/kedskeds/')
            i.fab.fa-instagram