extends layout

block content

  .main-content

    section#home.home--container
      .home--background

      .home--content
        .intro--text
          h1 Hi! I'm Kelsey.
          h1 I'm a developer based in Los Angeles, CA.

        include includes/editor.pug

    section#about.about--container
      .content
        h2 About Me

        .intro

          .paragraphs
            p I'm currently working remotely at <strong>LeaseLabs</strong> as a <strong>Front End Developer</strong>. I build websites and themes that are CMS-editable, flexible, and modular.
            p I'm excited by great CSS animations, experimental web technologies, and tools that make me a better and more efficient developer. I like solving puzzles, and I get so much satisfaction out of finding elegant solutions. I'm always trying to test the limits of what the web can do.
            p When I'm not pushing pixels around a screen, I enjoy hiking, biking, photography, and travel, among other things.

          .me
            .bg-img(data-bg='url(../images/me.png)')

    section#skills.skills--container
      .content
        h2 Skills
        ul
          p
            span Languages
          li HTML
          li CSS/Sass
          li JavaScript
          li Ruby
          li SQL
        ul
          p
            span Web Frameworks
          li React.js
          li Node/Express
          li Vue.js
          li Ruby on Rails
        ul
          p
            span Tools
          li Gulp
          li Craft CMS
          li Bootstrap/Foundation
          li MongoDB/Mongoose


    section#work.work--container

      .content
        h2 Recent Work

      include includes/projects-grid.pug


  section#contact.contact--container
    .contact--background

    .contact--content
      .content
        h2 Contact

        p I am available and open to new opportunities. If you have something in mind, please feel free to reach out! I'm particularly interested in projects that make the world a better place.

        .icons
          a(href='https://www.linkedin.com/in/kedels' title='LinkedIn')
            i.fab.fa-linkedin
          a(href='https://www.github.com/kedskeds' title='GitHub')
            i.fab.fa-github
          a(href='https://www.codepen.io/kedskeds' title='CodePen')
            i.fab.fa-codepen
          a(href='https://www.instagram.com/kedskeds/' title='Instagram')
            i.fab.fa-instagram