doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
    meta(name="description" content="Developer based in Los Angeles")
    meta(name="keywords" content="websites,developer,edelstein,los angeles")
    meta(name="author" content="Kelsey Edelstein")
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    block content
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600|Open+Sans:400,600')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js")
    script(src='/javascripts/app.js')