.blog-content
  max-width: 1000px
  margin: auto
  padding: 20px
  .post
    border-top: 1px solid rgba(0,0,0,.5)
    .date
      font-family: $f-primary
      font-size: 12px
      color: rgba($c-gray, .6)
    h2
      font-size: 20px
      text-align: left
      text-transform: none
    .tags
      font-family: $f-primary
      font-size: 12px
      span
        display: inline-block
        padding: 3px 5px
        margin: 2px
        margin-left: 0
        text-transform: uppercase
        border: 1px solid $c-orange
        color: $c-orange
        font-size: 10px
    .btn
      font-size: 10px
      width: 100px


@media screen and (min-width: 640px)
  .blog-content
    .posts--grid
      display: flex
      flex-wrap: wrap
      .post
        padding: 10px 0
        margin: 10px
        max-width: calc(50% - 20px)
        height: 260px
        .post--center
          height: 150px

@media screen and (min-width: 1024px)
  .blog-content
    .posts--grid
      .post
        max-width: calc(33% - 20px)
        .snippet
          p
            margin: 0