.contact--container
  position: relative

  .contact--background
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: $c-blue
    z-index: 0
    @include gradient-animate

  .contact--content
    position: relative
    display: flex
    justify-content: center
    align-items: center

  .content
    max-width: 300px
    > *
      color: $c-white

  .icons
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    i
      font-size: 36px
      color: $c-white
      transition: color .3s ease
      margin: 10px 11px
      &:hover
        color: #333333


@media screen and (min-width: 640px)
  .contact--container
    .icons
      font-size: 50px