.header
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 100
  background: rgba($c-orange, .7)
  nav
    ul
      padding-left: 0
      margin: 0
      li
        list-style-type: none
        display: inline-block
        a
          transition: all .2s ease
          padding: 0 10px
          color: $c-white
          text-transform: uppercase
          letter-spacing: .1em
          font-size: 11px
          &.active
            background: $c-white
            color: $c-orange


@media screen and (min-width: 1024px)
  .header
    display: block
    height: 100vh
    width: 30px
    nav
      height: 100%
      ul
        height: 100%
        display: flex
        justify-content: space-around
        align-items: center
        flex-direction: column
        width: 100%
        li
          transform: rotate(-90deg)
          display: block