.skills--container
  ul
    padding: 0
    max-width: 154px
    text-align: left
    margin: auto
    list-style: none
    li
      position: relative
      padding-left: 20px
      &:before
        content: ''
        position: absolute
        left: 1px
        top: 8px
        height: 5px
        width: 5px
        background: #e6e6e6