body {
  padding: 30px 30px 50px 80px;
  font: 14px "Open Sans", sans-serif;
  background: #cfd8dc /* For browsers that do not support gradients */;
  background: -webkit-linear-gradient(#cfd8dc, #fff) /* For Safari 5.1 to 6.0 */;
  background: -o-linear-gradient(#cfd8dc, #fff) /* For Opera 11.1 to 12.0 */;
  background: -moz-linear-gradient(#cfd8dc, #fff) /* For Firefox 3.6 to 15 */;
  background: linear-gradient(#cfd8dc, #fff) /* Standard syntax */;
}
.page-container {
  margin: auto;
  max-width: 1300px;
}
a {
  color: #fff;
}
a:hover {
  color: #000;
}
h1,
h2,
h3 {
  font-family: 'Roboto Slab', sans-serif;
}
.mobile {
  display: none;
}
button {
  margin: auto;
  width: 100%;
  padding: 10px 20px;
  border: none;
  text-align: center;
  background: #fff;
  font-size: 110%;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
button:focus {
  outline: none;
}
.project-description,
#projects .desc,
.project-heading {
  text-align: center;
  font-size: 120%;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
  padding: 10px;
  color: #2c3e50;
}
.overlay {
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 95%;
  margin: auto;
  opacity: 0;
  transition: 0.5s ease-in-out;
  background-color: #000;
  color: #fff;
}
.overlay .overlay-padding {
  padding: 0px 20px;
}
.overlay .overlay-padding h2 {
  font-size: 120%;
  margin-bottom: 0;
}
.overlay .overlay-padding h3 {
  font-size: 100%;
  margin: 0;
}
.overlay .overlay-padding p,
.overlay .overlay-padding li {
  font-size: 90%;
}
.divider {
  text-align: center;
}
.divider i {
  padding: 10px;
  background: #4db6ac;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 300%;
  border: 5px solid #fff;
  margin-bottom: 5px;
}
nav {
  z-index: 999;
  border-right: 5px solid #000;
  border-left: 5px solid #000;
  background: #1c2833;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50px;
  text-align: center;
}
nav ul {
  padding: 0;
  margin-top: 40px;
  list-style-type: none;
}
nav ul li {
  margin-bottom: 20px;
}
nav ul li .tooltip a {
  text-decoration: none;
  color: #fff;
}
nav ul li .tooltip a i {
  font-size: 24px;
}
nav ul li .tooltip a:hover {
  color: #4db6ac;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  top: -5px;
  left: 130%;
  opacity: 0;
  -webkit-transition-property: opacity /* Safari */;
  -webkit-transition-duration: 1s /* Safari */;
  -webkit-transition-delay: 0.3s /* Safari */;
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #000 transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
#about {
  margin: auto;
  min-height: 400px;
  margin-bottom: 50px;
  padding: 20px;
  background: url("../images/Death_to_Stock_Equinox_9.jpg") top right no-repeat;
  background-size: 1300px;
}
#about .blurb {
  opacity: 0.8;
  background: #4db6ac;
  max-width: 400px;
  float: left;
  padding: 30px;
}
#about .blurb p,
#about .blurb ul {
  font-size: 120%;
}
#skills {
  clear: both;
}
#skills .container {
  width: 25%;
  margin: auto;
  float: left;
}
#skills .card {
  margin: auto;
  padding: 0;
  width: 100%;
  min-height: 100px;
}
#skills table {
  width: 100%;
  border-collapse: collapse;
}
#skills table tr:first-child {
  text-align: center;
  font-size: 130%;
  background: #c8d1d0;
  color: #000;
  border-bottom: 2px solid #000;
}
#skills table tr:first-child td:first-child {
  height: 50px;
}
#skills table tr:hover {
  color: #222;
  background: #fff;
}
#skills table td {
  font-weight: bold;
  padding: 5px 20px;
}
#skills .container:last-child {
  margin-bottom: 50px;
}
#projects {
  clear: both;
}
#projects .outer-container {
  text-align: center;
  width: 33.3%;
  float: left;
}
#projects .img-container {
  position: relative;
}
#projects .img-container:hover .overlay {
  opacity: 0.8;
}
#projects .outer-container:last-child {
  margin-bottom: 50px;
}
#projects .img-container {
  width: 100%;
}
#projects a {
  text-decoration: underline;
  color: #fff;
}
#projects img {
  transition: 0.5s ease;
  width: 95%;
}
#projects .desc {
  margin: 0px 10px 10px 10px;
}
#contact {
  clear: both;
  text-align: center;
  opacity: 0.9;
}
#contact #contact-container {
  margin: auto;
  width: 80%;
  background: #4db6ac;
  margin-bottom: 50px;
  padding: 50px 0px;
}
#contact h2 {
  font-size: 190%;
  color: #000;
}
#contact i {
  padding: 0px 20px;
  font-size: 300%;
  color: #fff;
}
#contact i:hover {
  color: #000;
}
.shadow {
  -webkit-box-shadow: 6px 7px 14px -5px rgba(0,0,0,0.44);
  -moz-box-shadow: 6px 7px 14px -5px rgba(0,0,0,0.44);
  box-shadow: 6px 7px 14px -5px rgba(0,0,0,0.44);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1050px) {
  #projects .outer-container {
    width: 50%;
  }
  #contact #contact-container {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  #about {
    padding: 0px;
    width: 100%;
    min-height: 0;
    background: none;
  }
  #about .blurb {
    opacity: 1;
    float: none;
    margin: auto;
    padding: 20px;
  }
  #projects .overlay-padding h2,
  #projects .overlay-padding h3 {
    font-size: 90%;
  }
  #projects .overlay-padding p,
  #projects .overlay-padding li {
    font-size: 80%;
  }
  #skills .container {
    width: 50%;
    float: left;
  }
  #skills .card {
    width: 100%;
    float: left;
  }
}
@media screen and (max-width: 650px) {
  .project-heading {
    border-top: 2px solid #fff;
    cursor: pointer;
    color: #fff;
    background: #2c3e50;
  }
  #projects .outer-container {
    width: 100%;
    padding: 0;
  }
  #projects .outer-container .img-container {
    margin: 0;
    padding: 0;
  }
  #projects .outer-container .img-container img {
    display: none;
  }
  #contact h2 {
    font-size: 150%;
  }
  .mobile {
    display: block;
  }
  .hidden {
    display: none;
  }
  nav {
    display: none;
  }
  body {
    padding: 10px;
  }
}
