html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0; }

section {
  width: 100%; }

.hide {
  display: none; }

.content {
  max-width: 700px;
  margin: auto;
  padding: 30px; }
  .content .paragraphs {
    max-width: 500px;
    margin: auto;
    text-align: left; }

.main-content {
  z-index: 1;
  background: #f7f7f7; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

@media screen and (max-width: 1023px) {
  .show-for-large {
    display: none !important; } }

@media screen and (min-width: 1024px) {
  .hide-for-large {
    display: none !important; } }

h1, h2, p, ul, a {
  font-display: swap; }

h1, h2 {
  font-family: "Lexend Deca"; }

h1 {
  font-size: 20px;
  line-height: 26px; }

h2 {
  font-size: 26px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em; }

p, ul {
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 22px; }

a {
  transition: all .3s ease;
  color: black;
  text-decoration: none;
  font-family: "Open Sans"; }
  a:hover, a:focus {
    color: black; }

@media screen and (min-width: 640px) {
  h1 {
    font-size: 30px;
    line-height: 36px; } }

@keyframes GradientAnimate {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 100% 100%; }
  100% {
    background-position: 0% 0%; } }

.editor {
  z-index: 3;
  width: 80%;
  max-width: 500px;
  height: 50vh;
  max-height: 320px;
  transform: translateZ(0) scale(0.6);
  opacity: 0;
  transition-property: opacity,transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 1s; }
  .editor.zoom-in {
    opacity: 1;
    transform: translateZ(0) scale(1); }

.source {
  padding-top: 5px; }
  .source a {
    font-size: 12px;
    text-decoration: underline; }
    .source a:hover {
      color: #ffffff;
      cursor: pointer; }

.top-bar {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  background: #ececec;
  height: 30px;
  padding: 0 8px;
  border-radius: 5px 5px 0 0;
  color: #161616;
  z-index: 1; }
  .top-bar .dot {
    width: 12px;
    height: 12px;
    background: red;
    display: inline-block;
    border-radius: 50%;
    margin: 10px 3px; }
    .top-bar .dot:nth-child(1) {
      background: #fb647d; }
    .top-bar .dot:nth-child(2) {
      background: #f3d246; }
    .top-bar .dot:nth-child(3) {
      background: #5ccc3b; }
  .top-bar .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Lucida Grande, Arial, Helvetica;
    font-size: 12px; }

.screen {
  background: #ffffff;
  height: 100%;
  width: 100%;
  padding: 10px 10% 10px 10px;
  position: relative;
  overflow: hidden; }
  .screen:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #ffffff); }

.line {
  position: absolute;
  top: 7px;
  right: 0;
  background: #ffffff;
  opacity: 1;
  width: 100%;
  height: 18px;
  transition: width .4s linear; }
  .line:nth-child(1) {
    transition-delay: 0.4s;
    top: 7px; }
  .line:nth-child(2) {
    transition-delay: 0.8s;
    top: 25px; }
  .line:nth-child(3) {
    transition-delay: 1.2s;
    top: 43px; }
  .line:nth-child(4) {
    transition-delay: 1.6s;
    top: 61px; }
  .line:nth-child(5) {
    transition-delay: 2s;
    top: 79px; }
  .line:nth-child(6) {
    transition-delay: 2.4s;
    top: 97px; }
  .line:nth-child(7) {
    transition-delay: 2.8s;
    top: 115px; }
  .line:nth-child(8) {
    transition-delay: 3.2s;
    top: 133px; }
  .line:nth-child(9) {
    transition-delay: 3.6s;
    top: 151px; }
  .line:nth-child(10) {
    transition-delay: 4s;
    top: 169px; }
  .line:nth-child(11) {
    transition-delay: 4.4s;
    top: 187px; }
  .line:nth-child(12) {
    transition-delay: 4.8s;
    top: 205px; }
  .line:nth-child(13) {
    transition-delay: 5.2s;
    top: 223px; }
  .line:nth-child(14) {
    transition-delay: 5.6s;
    top: 241px; }
  .line:nth-child(15) {
    transition-delay: 6s;
    top: 259px; }
  .line:nth-child(16) {
    transition-delay: 6.4s;
    top: 277px; }
  .line:nth-child(17) {
    transition-delay: 6.8s;
    top: 295px; }
  .line:nth-child(18) {
    transition-delay: 7.2s;
    top: 313px; }
  .line:nth-child(19) {
    transition-delay: 7.6s;
    top: 331px; }
  .line:nth-child(20) {
    transition-delay: 8s;
    top: 349px; }
  .line:nth-child(21) {
    transition-delay: 8.4s;
    top: 367px; }
  .line:nth-child(22) {
    transition-delay: 8.8s;
    top: 385px; }
  .line:nth-child(23) {
    transition-delay: 9.2s;
    top: 403px; }
  .line:nth-child(24) {
    transition-delay: 9.6s;
    top: 421px; }
  .line:nth-child(25) {
    transition-delay: 10s;
    top: 439px; }

.line-reveal {
  width: 0; }

.code {
  height: 10px;
  border-radius: 4px;
  display: inline-block;
  margin: 1px; }
  .code.c-b {
    background: #6AC6C5; }
  .code.c-g {
    background: #50bc94; }
  .code.c-o {
    background: #F45E4C; }
  .code.c-y {
    background: #F9C969; }

.spacer {
  width: 20px !important; }

.home--container {
  height: 100vh; }
  .home--container .home--background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #6aa8c6;
    z-index: 0;
    transform: skewY(-7deg);
    transform-origin: top left;
    background: -moz-linear-gradient(132deg, #50d2d0, #2b96ca, #6AC6C5);
    background: -webkit-linear-gradient(132deg, #50d2d0, #2b96ca, #6AC6C5);
    background: -ms-linear-gradient(132deg, #50d2d0, #2b96ca, #6AC6C5);
    background: linear-gradient(132deg, #50d2d0, #2b96ca, #6AC6C5);
    background-size: 600% 600%;
    -webkit-animation: GradientAnimate 15s ease infinite;
    -moz-animation: GradientAnimate 15s ease infinite;
    animation: GradientAnimate 15s ease infinite; }
  .home--container .home--content {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .home--container .intro--text {
    color: #ffffff;
    z-index: 3;
    text-align: center;
    max-width: 400px;
    padding: 10px 20px;
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
    transition-property: opacity,transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .home--container .intro--text h1:first-of-type {
      border-bottom: 1px solid #ffffff;
      padding-bottom: 15px; }
    .home--container .intro--text.fade-right {
      opacity: 1;
      transform: translateZ(0); }
  .home--container .scroll-btn-container .scroll-btn {
    font-size: 16px;
    font-family: "Lexend Deca";
    text-transform: lowercase;
    text-align: center;
    transition: all .1s ease;
    text-decoration: none;
    animation: glow 1s ease-in-out infinite alternate; }
    .home--container .scroll-btn-container .scroll-btn:hover {
      text-shadow: 0px 0px 20px #ffffff;
      cursor: pointer; }
  .home--container .scroll-btn-container .arrow {
    text-transform: uppercase;
    animation: bounce 1s ease-in-out infinite alternate; }

@keyframes bounce {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(10px); } }

@keyframes glow {
  from {
    text-shadow: none; }
  to {
    text-shadow: 0px 0px 20px #ffffff; } }

@media screen and (min-width: 640px) {
  .home--container .intro--text {
    padding: 10px; } }

@media screen and (min-width: 1024px) {
  .home--container .home--content {
    flex-direction: row;
    justify-content: space-evenly; }
  .home--container .intro--text {
    text-align: left; } }

.about--container h2 {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto; }

.about--container .me {
  width: 200px;
  margin: auto;
  position: relative; }
  .about--container .me .bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100%;
    width: 100%;
    border-radius: 50%; }

@media screen and (min-width: 640px) {
  .about--container .content {
    margin-top: -20px; }
  .about--container .intro {
    display: flex; }
    .about--container .intro .paragraphs {
      padding: 0 20px; } }

@media screen and (min-width: 1024px) {
  .about--container .content {
    margin-top: -50px;
    margin-bottom: 60px; } }

.skills--container {
  background: #6aa8c6;
  background: -moz-linear-gradient(132deg, #50d2d0, #2b96ca, #6AC6C5);
  background: -webkit-linear-gradient(132deg, #50d2d0, #2b96ca, #6AC6C5);
  background: -ms-linear-gradient(132deg, #50d2d0, #2b96ca, #6AC6C5);
  background: linear-gradient(132deg, #50d2d0, #2b96ca, #6AC6C5);
  background-size: 600% 600%;
  -webkit-animation: GradientAnimate 15s ease infinite;
  -moz-animation: GradientAnimate 15s ease infinite;
  animation: GradientAnimate 15s ease infinite; }
  .skills--container > * {
    color: #ffffff; }
  .skills--container h2 {
    color: #ffffff;
    margin-bottom: 10px; }
  .skills--container ul {
    padding: 0;
    max-width: 170px;
    text-align: left;
    margin: auto;
    list-style: none; }
    .skills--container ul p {
      font-family: "Lexend Deca";
      font-size: 17px;
      text-transform: uppercase;
      position: relative;
      font-weight: 600;
      text-align: center;
      color: #ffffff; }
      .skills--container ul p span {
        position: relative; }
    .skills--container ul li {
      position: relative;
      text-align: center; }
      .skills--container ul li:before {
        content: '';
        position: absolute;
        left: 1px;
        top: 8px;
        height: 5px;
        width: 5px; }

@media screen and (min-width: 640px) {
  .skills--container ul {
    max-width: 33%;
    width: 33%;
    display: inline-block;
    vertical-align: top;
    padding: 10px; } }

.work--container {
  padding-bottom: 100px; }
  .work--container .content {
    padding-bottom: 15px; }
  .work--container .bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .work--container .projects--grid {
    padding: 0 15px;
    max-width: 1000px;
    margin: auto; }
    .work--container .projects--grid .bg-img {
      padding-bottom: 55%;
      width: 100%; }
    .work--container .projects--grid .description {
      line-height: 25px;
      padding: 23px;
      font-family: "Open Sans";
      text-align: left; }
      .work--container .projects--grid .description .project--name a {
        font-size: 19px;
        line-height: 30px;
        font-weight: 600;
        font-family: "Lexend Deca";
        position: relative; }
        .work--container .projects--grid .description .project--name a:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 2px;
          background: transparent;
          transition: all .2s ease; }
        .work--container .projects--grid .description .project--name a:hover:before {
          width: 100%;
          background: #161616; }
      .work--container .projects--grid .description .project--lang {
        font-weight: 600; }
      .work--container .projects--grid .description .project--lang, .work--container .projects--grid .description .project--features {
        font-size: 14px; }
  .work--container .project:not(:last-child) {
    margin-bottom: 50px; }

@media screen and (min-width: 640px) {
  .work--container .projects--grid .project:nth-of-type(1) .project--img {
    border: 2px solid #3b4aac; }
    .work--container .projects--grid .project:nth-of-type(1) .project--img:before {
      border-right: 4px solid #3b4aac;
      border-bottom: 4px solid #3b4aac; }
    .work--container .projects--grid .project:nth-of-type(1) .project--img:hover:before {
      border-width: 10px; }
  .work--container .projects--grid .project:nth-of-type(2) .project--img {
    border: 2px solid #F45E4C; }
    .work--container .projects--grid .project:nth-of-type(2) .project--img:before {
      border-right: 4px solid #F45E4C;
      border-bottom: 4px solid #F45E4C; }
    .work--container .projects--grid .project:nth-of-type(2) .project--img:hover:before {
      border-width: 10px; }
  .work--container .projects--grid .project:nth-of-type(3) .project--img {
    border: 2px solid #6aa8c6; }
    .work--container .projects--grid .project:nth-of-type(3) .project--img:before {
      border-right: 4px solid #6aa8c6;
      border-bottom: 4px solid #6aa8c6; }
    .work--container .projects--grid .project:nth-of-type(3) .project--img:hover:before {
      border-width: 10px; }
  .work--container .projects--grid .project:nth-of-type(4) .project--img {
    border: 2px solid #F9C969; }
    .work--container .projects--grid .project:nth-of-type(4) .project--img:before {
      border-right: 4px solid #F9C969;
      border-bottom: 4px solid #F9C969; }
    .work--container .projects--grid .project:nth-of-type(4) .project--img:hover:before {
      border-width: 10px; }
  .work--container .projects--grid .project:nth-of-type(5) .project--img {
    border: 2px solid #50bc94; }
    .work--container .projects--grid .project:nth-of-type(5) .project--img:before {
      border-right: 4px solid #50bc94;
      border-bottom: 4px solid #50bc94; }
    .work--container .projects--grid .project:nth-of-type(5) .project--img:hover:before {
      border-width: 10px; }
  .work--container .projects--grid .project:nth-of-type(6) .project--img {
    border: 2px solid #F45E4C; }
    .work--container .projects--grid .project:nth-of-type(6) .project--img:before {
      border-right: 4px solid #F45E4C;
      border-bottom: 4px solid #F45E4C; }
    .work--container .projects--grid .project:nth-of-type(6) .project--img:hover:before {
      border-width: 10px; }
  .work--container .projects--grid .project:nth-of-type(7) .project--img {
    border: 2px solid #f9ab69; }
    .work--container .projects--grid .project:nth-of-type(7) .project--img:before {
      border-right: 4px solid #f9ab69;
      border-bottom: 4px solid #f9ab69; }
    .work--container .projects--grid .project:nth-of-type(7) .project--img:hover:before {
      border-width: 10px; }
  .work--container .projects--grid .project:nth-of-type(8) .project--img {
    border: 2px solid #50bc94; }
    .work--container .projects--grid .project:nth-of-type(8) .project--img:before {
      border-right: 4px solid #50bc94;
      border-bottom: 4px solid #50bc94; }
    .work--container .projects--grid .project:nth-of-type(8) .project--img:hover:before {
      border-width: 10px; }
  .work--container .projects--grid .project:nth-of-type(9) .project--img {
    border: 2px solid #6aa8c6; }
    .work--container .projects--grid .project:nth-of-type(9) .project--img:before {
      border-right: 4px solid #6aa8c6;
      border-bottom: 4px solid #6aa8c6; }
    .work--container .projects--grid .project:nth-of-type(9) .project--img:hover:before {
      border-width: 10px; }
  .work--container .projects--grid .project:nth-of-type(10) .project--img {
    border: 2px solid #F9C969; }
    .work--container .projects--grid .project:nth-of-type(10) .project--img:before {
      border-right: 4px solid #F9C969;
      border-bottom: 4px solid #F9C969; }
    .work--container .projects--grid .project:nth-of-type(10) .project--img:hover:before {
      border-width: 10px; }
  .work--container .projects--grid .project--img {
    position: relative; }
    .work--container .projects--grid .project--img .bg-img {
      height: 100%;
      transition: all .2s ease; }
    .work--container .projects--grid .project--img:before {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      height: 100%;
      width: 100%;
      transition: all .2s ease; }
    .work--container .projects--grid .project--img:hover:before {
      transform: translate(8px, 8px); }
    .work--container .projects--grid .project--img:hover .bg-img {
      filter: none; }
  .work--container .projects--grid .description {
    width: 45%; }
  .work--container .projects--grid .project:not(.hide) {
    display: flex; }
  .work--container .projects--grid .project .project--img {
    flex: 1; }
  .work--container .projects--grid .project:nth-of-type(odd) .description {
    text-align: right; }
  .work--container .projects--grid .project:nth-of-type(even) .description {
    order: 2; }
  .work--container .projects--grid .project:nth-of-type(even) .project--img {
    order: 1; } }

.contact--container {
  position: relative; }
  .contact--container .contact--background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #6aa8c6;
    z-index: 0;
    background: -moz-linear-gradient(132deg, #50d2d0, #2b96ca, #6AC6C5);
    background: -webkit-linear-gradient(132deg, #50d2d0, #2b96ca, #6AC6C5);
    background: -ms-linear-gradient(132deg, #50d2d0, #2b96ca, #6AC6C5);
    background: linear-gradient(132deg, #50d2d0, #2b96ca, #6AC6C5);
    background-size: 600% 600%;
    -webkit-animation: GradientAnimate 15s ease infinite;
    -moz-animation: GradientAnimate 15s ease infinite;
    animation: GradientAnimate 15s ease infinite; }
  .contact--container .contact--content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
  .contact--container .content > * {
    color: #ffffff; }
  .contact--container .icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .contact--container .icons a:hover i {
      color: #333333; }
    .contact--container .icons i {
      font-size: 36px;
      color: #ffffff;
      transition: color .3s ease;
      margin: 10px 11px; }

@media screen and (min-width: 1024px) {
  .contact--container .contact--content {
    height: 500px; }
    .contact--container .contact--content .content {
      max-width: 400px; } }

.blog-content {
  max-width: 1000px;
  margin: auto;
  padding: 20px; }
  .blog-content .post {
    border-top: 1px solid rgba(0, 0, 0, 0.5); }
    .blog-content .post .date {
      font-family: "Open Sans";
      font-size: 12px;
      color: rgba(45, 45, 45, 0.6); }
    .blog-content .post h2 {
      font-size: 20px;
      text-align: left;
      text-transform: none; }
    .blog-content .post .tags {
      font-family: "Open Sans";
      font-size: 12px; }
      .blog-content .post .tags span {
        display: inline-block;
        padding: 3px 5px;
        margin: 2px;
        margin-left: 0;
        text-transform: uppercase;
        border: 1px solid #F45E4C;
        color: #F45E4C;
        font-size: 10px; }
    .blog-content .post .btn {
      font-size: 10px;
      width: 100px; }

@media screen and (min-width: 640px) {
  .blog-content .posts--grid {
    display: flex;
    flex-wrap: wrap; }
    .blog-content .posts--grid .post {
      padding: 10px 0;
      margin: 10px;
      max-width: calc(50% - 20px);
      height: 260px; }
      .blog-content .posts--grid .post .post--center {
        height: 150px; } }

@media screen and (min-width: 1024px) {
  .blog-content .posts--grid .post {
    max-width: calc(33% - 20px); }
    .blog-content .posts--grid .post .snippet p {
      margin: 0; } }

.btn {
  display: inline-block;
  padding: 10px;
  width: 186px;
  border: 2px solid;
  letter-spacing: .1em;
  position: relative;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase; }
  .btn:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    height: 100%;
    width: 100%;
    border-right: 4px solid;
    border-bottom: 4px solid;
    transition: all .2s ease; }
  .btn:hover {
    cursor: pointer; }
    .btn:hover:before {
      transform: translate(2px, 2px);
      border-width: 4px; }
  .btn.btn-blue {
    border-color: #1e283a; }
    .btn.btn-blue span {
      color: #1e283a; }
    .btn.btn-blue:before {
      border-color: inherit; }

/*# sourceMappingURL=style.css.map */