heading-font = 'Roboto', sans-serif
cl-blue = #4DB6AC
cl-darkgray = #1C2833
cl-lightgray = #CFD8DC
cl-tr-hover = white
cl-green = #2ECC71

body
  padding: 30px 30px 50px 80px
  font: 14px "Open Sans", sans-serif
  background: cl-lightgray; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(cl-lightgray, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(cl-lightgray, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(cl-lightgray, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(cl-lightgray, white); /* Standard syntax */

a
  color: white
  
a:hover 
  color: black

h1
  font-family: heading-font

.mobile
  display: none

button
  margin: auto
  width: 100%
  padding: 10px 20px
  border: none
  text-align: center
  background: white
  font-family: heading-font
  font-size: 140%
  border-radius: 5px
  cursor: pointer

button:focus 
  outline: none  

.project-description
  text-align: center
  text-transform: uppercase
  font-size: 120%
  font-family: heading-font
  font-weight: bold
  color: white
  padding: 10px
  background: #2C3E50

.divider
  text-align: center
  i
    padding: 10px
    background: cl-blue
    color: white
    border-radius: 50%
    text-align: center
    font-size: 300%
    border: 5px solid white
    margin-bottom: 5px

nav
  border-right: 5px solid black
  border-left: 5px solid black
  background: cl-darkgray
  position: fixed
  top: 0
  left: 0
  height: 100vh
  width: 50px
  text-align: center
  
  ul
    padding: 0
    margin-top: 40px
    list-style-type: none

    li
      margin-bottom: 20px
      
      a
        color: white
      
      a:hover
        color: #4DB6AC

#about
  margin: auto
  width: 80%
  background: cl-green
  min-height: 250px
  margin-bottom: 50px
  padding: 20px

  .blurb
    h1, h2, h3
      text-align:center
    p, ul
      font-size: 120%

#skills
  clear: both
  .row
    width: 100%

  .container
    width: 25%
    margin: auto
    float: left

  .card
    background: white
    margin: auto
    padding: 0
    width: 200px
    min-height: 100px

  .heading
    font-family: heading-font
    color: cl-darkgray
    font-size: 130%
    font-weight: bold
    text-transform: uppercase
    width: 100%
    text-align: center
    border-bottom: 2px solid cl-darkgray
    margin-bottom: 0
    padding: 10px 0px

  table
    width: 100%
    border-collapse: collapse
    tr
      color: black
      background: #F2F3F4
    tr:nth-child(even) 
      background: #E5E7E9
    tr:hover
      color: #222222
      background: cl-tr-hover
    td
      font-weight: bold
      padding: 5px 20px
  .container:last-child
    margin-bottom: 50px

#projects
  clear: both
  
  .outer-container
    text-align: center
    width: 33%
    float: left
    
  .outer-container:last-child
    margin-bottom: 50px
      
  .img-container
    width: 100%
  
  a
    text-decoration: none

  img
    width: 95%
  
  .desc
    @extend .project-description
    margin: 0px 10px 10px 10px
  
#contact
  clear: both
  text-align: center
  
  #contact-container
    margin: auto
    width: 80%
    background: #F4D03F
    margin-bottom: 50px
    padding: 50px 0px
  
  h2
    font-size: 190%
    color: black
    
  i 
    padding: 0px 20px
    font-size: 300%
    color: white
    
  i:hover 
    color: black
          
.shadow
  -webkit-box-shadow: 10px 10px 36px -5px rgba(0,0,0,0.75)
  -moz-box-shadow: 10px 10px 36px -5px rgba(0,0,0,0.75)
  box-shadow: 10px 10px 36px -5px rgba(0,0,0,0.75)
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
        

@media screen and (max-width: 950px)
  #projects
    .outer-container
      width: 50%
  #skills
    .container
      float: left
    .card
      width: 150px
      float: left
  #contact
    #contact-container
      width: 100%

@media screen and (max-width: 800px)
  #skills
    .container
      width: 50%
      float: left
    .card
      width: 100%
      float: left
  
@media screen and (max-width: 650px)
  #about
    .blurb
      width: 100%
  .project-heading
    @extend .project-description
    border-top: 2px solid white
  #projects 
    .outer-container
      width: 100%
      padding: 0
      .img-container
        margin: 0
        padding: 0
        a
          img
            display: none
  #contact
    h2
      font-size: 150%
  .mobile
    display: block
  .hidden
    display: none
  nav
    display: none
  body
    padding: 10px
