h1, h2, p, ul, a
  font-display: swap
h1, h2
  font-family: $f-secondary
h1
  font-size: 20px
  line-height: 26px
h2
  font-size: 26px
  line-height: 26px
  color: #333333
  text-align: center
p,ul
  font-size: 14px
  font-family: $f-primary
  line-height: 22px
a
  transition: all .3s ease
  color: black
  text-decoration: none
  font-family: $f-primary
  &:hover
    color: black


@media screen and (min-width: 640px)
  h1
    font-size: 30px
    line-height: 36px
  h2
    font-size: 30px
    line-height: 36px