$c-blue: #4581e6
$c-green: #50bc94
$c-yellow: #ffdd26
$c-orange: #e86627
$c-purple: #a26cbd

$c-black: #161616
$c-white: #ffffff
$c-d-blue: #1e283a
$c-mint-green: #54bb95

$f-primary: 'Open Sans'
$f-secondary: 'ibm plex mono'

$screen-color: #2d2d2d

$code-height: 10
$code-margin: 1
$line-height: $code-height + ($code-margin * 2) + 6

$footer-height: 220px


// old editor colors
// $c-blue: #8294b2
// $c-green: #9eb18b
// $c-yellow: #d6c982
// $c-orange: #b9735c
// $c-purple: #8c7d8f