$c-mint-green: #6AC6C5
$c-green: #50bc94
$c-yellow: #F9C969
$c-orange: #F45E4C


$c-black: #161616
$c-white: #ffffff
$c-d-blue: #1e283a
$c-blue: #6aa8c6
$c-gray: #2d2d2d

$f-primary: 'Open Sans'
$f-secondary: 'Lexend Deca'

$screen-color-dark: #2d2d2d
$screen-color: $c-white

$code-height: 10
$code-margin: 1
$line-height: $code-height + ($code-margin * 2) + 6

