.work--container
  padding-bottom: 100px
  .content
    padding-bottom: 0
  .bg-img
    background-size: cover
    background-repeat: no-repeat
    background-position: center center

  .projects--grid
    padding: 0 15px
    max-width: 1000px
    margin: auto

    .bg-img
      padding-bottom: 55%
      width: 100%

    .description
      line-height: 25px
      padding: 23px
      font-family: $f-primary
      text-align: left
      .project--name a
        font-size: 19px
        line-height: 30px
        font-weight: 600
        font-family: $f-secondary
        position: relative
        &:before
          content: ''
          position: absolute
          left: 0
          bottom: 0
          width: 0
          height: 2px
          background: transparent
          transition: all .2s ease
        &:hover
          &:before
           width: 100%
           background: $c-black
      .project--lang
        font-weight: 600
      .project--lang, .project--features
        font-size: 14px

  .project
    margin-bottom: 50px


@media screen and (min-width: 640px)
  .work--container
    .projects--grid
      .project--img
        position: relative
        .overlay
          position: absolute
          top: 0
          left: 0
          height: 100%
          width: 100%
          background: transparent
          transition: all .2s ease
        &:hover
          .overlay
            background: rgba($c-white, .3)
      .description
        width: 45%
      .project
        display: flex
        .project--img
          flex: 1
        &:nth-of-type(odd)
          .description
            text-align: right
        &:nth-of-type(even)
          .description
            order: 2
          .project--img
            order: 1