.btn {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .02em;
  border: .1rem solid white;
  text-decoration: none;
  padding: 1rem 3rem;
  background-color: transparent;
  color: white;
}