@keyframes GradientAnimate {
  0% {
    background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

#about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    text-transform: uppercase;
  }
  .content {
    opacity: 0;
    transition: all 1s ease;
    &.loaded {
      opacity: 1;
    }
  }
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  // background: -moz-linear-gradient(132deg, #7c98ab, #bf8f7a, #7c98ab);
  // background: -webkit-linear-gradient(132deg, #7c98ab, #bf8f7a, #7c98ab);
  // background: -ms-linear-gradient(132deg, #7c98ab, #bf8f7a, #7c98ab);
  // background: linear-gradient(132deg, #7c98ab, #bf8f7a, #7c98ab);
  background-size: 600% 600%;
  -webkit-animation: GradientAnimate 30s ease infinite;
  -moz-animation: GradientAnimate 30s ease infinite;
  animation: GradientAnimate 30s ease infinite;
}